*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 /* MOBILE FIRST */
.lingua{
  text-transform: uppercase;
}
.card{
  width: 300px;
  height: 300px;
  padding: 20px;
}
main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.searchbar{
  text-align: center;
}
